@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Nikole Tesle 9<br />
    51000 Rijeka<br />
    <abbr title="Phone">P:</abbr>
    +385 1 5535465
</address>

<address>
    <strong>Email us:</strong> <a href="mailto:redhat@veracompadria.com">redhat@veracompadria.com</a>
</address>
